<html>
<head>
    <title>Magesh - MEAN STACK SAMPLE USE CASE </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">


    <script src="js/libs/uuid.js"></script>
    <script src="js/libs/json2.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    
    <script type="text/javascript">
        //define angular module
        var feedbackApp = angular.module("feedbackApp",['ui.mask']);
    </script>
   
    <script src="js/libs/ui-utils.min.js"></script>
    
    <script src="angController/userController.js"></script>
<style type="text/css">

        .fade-in.ng-enter{ 
            opacity: 0; 
            color: green;
        }

        .fade-in.ng-enter.ng-enter-active{
            color : black;
             opacity: 1;
        }
        .fade-in.ng-leave{} 
        .fade-in.ng-leave.ng-leave-active{
            opacity: 0; 
        }

</style>


<body ng-app='feedbackApp'>
    
    <div class="container" ng-controller="userController">  
        <div class="col-md-6 column">
             <div class="form-group">  
            	<span >First Name : </span> 
            	<input type="text" name="fName" id="fName" class="form-control" value="" required="required" pattern="" title="" ng-model="user.fName">
                <span >Last Name : </span> 
                <input type="text" name="lName" id="lName" class="form-control" value="" required="required" pattern="" title="" ng-model="user.lName">
                 </hr>
                <span >Mobile Phone # : </span> 
                <input type="text" name="mphone" id="mphone" class="form-control" value="" required="required" pattern="" title="" ui-mask="999.999.9999" ng-model="user.phone.mobile">
                <span >Landline Phone # : </span> 
                <input type="text" name="lphone" id="lphone" class="form-control" value="" required="required" pattern="" title="" ui-mask="(99) 9999 9999"  ng-model="user.phone.landline">
                <span >Home Phone # : </span> 
                <input type="text" name="hphone" id="hphone" class="form-control" value="" required="required" pattern="" title="" ui-mask="(99) 9999 9999" ng-model="user.phone.home">

                 </hr>

                 <span > Request Status :</span> 
                <input type="text" name="message" id="message" class="form-control" value="" required="required" pattern="" title="" ng-model='message'>
            </div>
        </div>
    
    
        <div class="col-md-6 column"> 
            <table >
                   <tr> 
                    <td>
                    <button type="submit" class="btn btn-primary" ng-click="addUser()">Add User</button>
                    </td>
                    <td>
                    <button type="submit" class="btn btn-success" ng-click="listAllUsers()">List All Users</button>
                    </td>
                    
                    <td>
                    <span > Type user first name :</span>  
                    </td>
                    <td>   
                    <input type="text" name="fuser" id="fuser" class="form-control" value="" required="required" pattern="" title="" ng-model="findUser">  
                    </td>
                    <td>  
                    <button type="submit" class="btn btn-success" ng-click="findUserByFirstName()"> Find User</button>
                    </td>
                   </tr> 
            </table>
            <tr>
                        <td> Search by : </td> 
                        <td> 
                            <input type="text" name="search" id="search" class="form-control" value="" required="required" pattern="" title="" ng-model="search">  
                        </td>
                    </tr>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>First Name </th> <th>Last Name </th>  <th>Mobile Phone</th>  <th>Landline Phone</th>  <th>Home Phone </th> 
                    </tr>
                    
                </thead>
                <tbody>
                        <tr ng-repeat="user in listOfUsers | filter:search" class="item  fade-in" >
                            
                            <td>{{user.firstName}}</td>  <td>{{user.lastName}}</td>   <td>{{user.phone.mphone}}</td>  <td>{{user.phone.lphone}}</td>  <td>{{user.phone.hphone}}</td> 
                        </tr>
                        </tr>
                </tbody>
             </table>
       </div>     
    </div>
    </div>
    </div>
</body>


</html>